<%- include('partials/header'); -%>
  <div class="container-fluid">
    <div class="row testrow">
      <div class="col-6 offset-3">
        <h1 class="run">
          Let's help <span style="color:salmon ;">you</span> write to <span id="you">YOU</span>
        </h1>
        <p class="text-end">
          <span class="circle">he</span>
          <span class="circle">he</span>
          <span class="circle">he</span>
        </p>

      </div>
    </div>
  </div>





  <div class="container">
    <div class="row align-items-center p-3 justify-content-center">
      <!-- <div class="col-1 offset">

      </div> -->
      <div class="col-md-4 col-sm-12 pl-2 my-3 offset-1">
        <p>With the busyness of work, trendiness of social media and distractions of life, we often get caught up and
          are unable to put pause on our world and appreciate the present we so wished for yesterday.</p>

        <a class="but" href="/diary/new">Lets unwind</a>
      </div>

      <div class="col-md-2 col-sm-12 ">
        <img class="img-fluid"
          src="https://images.unsplash.com/photo-1579187707643-35646d22b596?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGNhbG18ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
          alt="">
      </div>
      <div class="col-md-3 col-sm-12 ">
        <img class="img-fluid"
          src="https://images.unsplash.com/photo-1471897488648-5eae4ac6686b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
          alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row spacerow">
      <div class="col-6">

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row testrow justify-content-center align-items-center">
      <div class="col-md-4 col-sm-12 offset-2 ">
        <img id="white" class="img-fluid"
          src="https://images.unsplash.com/photo-1659464710138-14ed975be07b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1OXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
          alt="">
      </div>
      <div class="col-md-5 col-sm-12 order-2.order-sm-1">
        <p>With <b style="color:gold;">Unwind</b>
          you get to flip through your day or moments seeing yourself as the star in your movie, so go ahead and
          <b style="color:gold;">express yourself in words which your future you would cherish!!!</b>
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row testrow">
      <div class="col-6">

      </div>
    </div>
  </div>
  <%- include('partials/footer'); -%>

    <!-- <script src="index.js"></script> -->
    </body>

    </html>