<%- include('partials/header'); -%>

<div class="container mt-3">
    <div class="row row4">
        <div class="col-6 offset-3">
            <div class="card mt-3">
                <div class="card-header">
                    <h1>No record found</h1>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        I would really love to hear from you 💕💕💕💕💕
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>    
</body>
</html>